.chat-conversation .right .conversation-list .chat-time {
    text-align: right;
    color: #7a7f9a;
    .status {
        font-size: 18px;
    }
}

.chat-conversation .right .conversation-list .ctext-wrap .ctext-wrap-content {
    order: 2;
    background-color: #fff;
    color: #343a40;
    text-align: right;
    border-radius: 8px 8px 0px 8px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity));
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity));
    a {
        color: #7a7f9a;
    }
}

.chat-conversation .right .conversation-list .ctext-wrap .ctext-wrap-content:before {
    border: 5px solid transparent;
    border-top-color: #fff;
    border-right-color: #fff;
    left: auto;
    right: 0px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity));
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity));
}

.chat-conversation .right .conversation-list .chat-avatar {
    order: 3;
    margin-right: 0px;
    margin-left: 16px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity));
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity));
}

.chat-conversation .conversation-list .chat-avatar {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity));
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity));
    visibility: hidden;
}

.chat-conversation .right .conversation-list {
    float: right;
    text-align: right;
}

.chat-conversation .chat-date {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    &::before,
    &::after {
        content: "";
        flex: 1;
    }
    // &:not(:empty)::before {
    //     margin-right: 1.25rem;
    // }
    // &:not(:empty)::after {
    //     margin-left: 1.25em;
    // }
}

.chat-conversation .seen {
    color: #7269ef;
}

.chat-conversation .conversation-list .ctext-wrap-content:before {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-left-color: #7269ef;
    border-top-color: #7269ef;
    left: 0;
    bottom: -10px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity));
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity));
}

.chat-conversation .conversation-list .chat-time {
    font-size: 12px;
    margin-top: 4px;
    text-align: right;
    color: rgba(255, 255, 255, 0.7);
}

.chat-conversation .conversation-list .chat-time .status {
    font-size: 18px;
}

.chat-conversation .conversation-list .ctext-wrap-content {
    padding: 6px 18px;
    background-color: #7269ef;
    border-radius: 8px 8px 8px 0;
    color: #fff;
    position: relative;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity));
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity));
    a {
        color: rgba(255, 255, 255, 0.7);
    }
}

.chat-conversation .conversation-list .ctext-wrap {
    display: flex;
    margin-bottom: 10px;
}

.chat-conversation .conversation-list .user-chat-content {
    margin-left: 10px;
}

.chat-conversation .conversation-list {
    margin-bottom: 4px;
    display: inline-flex;
    position: relative;
    align-items: flex-end;
}

.chat-list {
    padding-left: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.chat-conversation li {
    clear: both;
}

.chat-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.chat-scroll {
    flex: 1;
    display: flex;
    overflow-y: auto;
    margin-right: 1px;
}

.chat-input {
    background: #fff;
}

.chat-conversation {
    flex: 1;
    overflow-y: auto;
    margin-right: 1px;
    width: 100%;
    display: flex;
    flex-flow: column-reverse;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 10px;
    position: absolute;
    right: 0;
    z-index: 2;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.dropdown-content-hidden {
    display: none;
}

.dropdown-content .item {
    display: block;
}